.app-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      max-width: 1200px;
      padding: 20px;
      color: #f0f0f0;
      flex: 1;
    }

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin-bottom: 40px;
    }

    .header-left {
      display: flex;
      align-items: center;
    }

    .header-right {
      display: flex;
      align-items: center;
    }

    .logo {
      display: flex;
      align-items: center;
      margin-left: 10px;
    }

    .company-name {
      font-size: 1.5rem;
      font-weight: bold;
      margin-right: 0.2rem;
      font-family: 'Inter', sans-serif;
    }

    .nav {
      display: flex;
      margin-left: 20px;
    }

    .nav-link {
      margin-left: 20px;
      text-decoration: none;
      color: #f0f0f0;
      font-size: 0.9rem;
    }

    .auth-link {
      margin-left: 20px;
      text-decoration: none;
      color: #f0f0f0;
      font-size: 0.9rem;
    }

    .signin-button {
      border: 1px solid #f0f0f0;
      background-color: black;
      padding: 5px 10px;
      border-radius: 4px;
    }

    .signup-button {
      background-color: #f0f0f0;
      color: black;
      padding: 5px 10px;
      border-radius: 4px;
    }

    .main-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      width: 100%;
      flex: 1;
      justify-content: center;
    }

    .main-heading {
      font-size: 3rem;
      font-weight: bold;
      margin-bottom: 15px;
      line-height: 1.2;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: 'Inter', sans-serif;
    }

    .reddit-box {
      color: #f0f0f0;
      font-size: 3.75rem;
      font-weight: bold;
      margin-left: 0.5rem;
      font-family: 'Vitesse Bold', sans-serif;
      text-shadow: 0 0 10px white;
    }

    .sub-heading {
      font-size: 1.3rem;
      color: #888;
      margin-bottom: 45px;
      font-family: 'Helvetica', sans-serif;
    }

    .input-container {
      position: relative;
      width: 80%;
      max-width: 600px;
    }

    .search-input {
      width: 100%;
      padding: 20px 15px;
      border: 1px solid #444;
      border-radius: 8px;
      font-size: 1rem;
      color: #f0f0f0;
      background-color: #333;
      box-sizing: border-box;
      transition: border-color 0.3s ease;
      box-shadow: 0 0 10px 2px rgba(255, 165, 0, 0.2);
      white-space: pre-wrap;
      overflow-wrap: break-word;
      word-break: break-word;
      resize: none;
      min-height: 80px;
      text-align: start;
      padding-top: 10px;
    }

    .search-input:focus {
      outline: none;
      border-color: #aaa;
    }

    .search-input::placeholder {
      color: #aaa;
      position: absolute;
      top: 10px;
      left: 15px;
      transition: opacity 0.3s ease;
      font-family: 'Inter', sans-serif;
    }

    .search-input:not(:placeholder-shown) + .search-input::placeholder {
      opacity: 0;
    }

    .search-button {
      position: absolute;
      bottom: 10px;
      right: 10px;
      background: none;
      border: none;
      color: #888;
      font-size: 0.8rem;
      cursor: pointer;
      transition: color 0.3s ease;
      display: inline-flex;
      align-items: center;
      padding: 5px 8px;
      border-radius: 4px;
      background-color: #ddd;
    }

    .search-button:hover {
      color: #333;
    }

    .search-button-text {
      color: #333;
    }

    @media (max-width: 768px) {
      .header {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 20px;
      }

      .header-left {
        flex-direction: column;
        align-items: flex-start;
      }

      .logo {
        margin-bottom: 10px;
      }

      .nav {
        flex-direction: column;
        align-items: flex-start;
        margin-left: 0;
      }

      .nav-link {
        margin: 5px 0;
      }

      .auth-link {
        margin: 5px 0;
      }

      .main-heading {
        font-size: 2rem;
        flex-direction: column;
      }

      .reddit-box {
        font-size: 2rem;
        margin-left: 0;
      }

      .sub-heading {
        font-size: 1rem;
      }

      .input-container {
        width: 95%;
      }
    }
